{% extends 'base.html.twig' %}

{% block content %}
 <div class="row">
  <div class="col-md-4" >
  </div>
  <div class="col-md-4" style="" >
   <center><h1>Modifier Votre Offre de covoiturage</h1></center>
      {{ form_start(form) }}

      {{ form_end(form) }}
  </div>
  <div class="col-md-4" >
  </div>
 </div>


{% endblock %}