{% extends "::base.html.twig" %}

{% block title %}GestionCommoditeBundle:Commoditefavorite:deleteFava{% endblock %}

{% block body %}
<h1>Welcome to the Commoditefavorite:deleteFava page</h1>
{% endblock %}
